<nav class="nav">
    <a href="/"><h1>Blog4You</h1></a>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/blogs/create">Blog Create</a>
    </div>
</nav>